<h1>Sign in</h1>

<%= form_tag session_path do %>
  username <%= text_field_tag :username, params[:username], class: 'form-control' %>
  <br />
  password <%= password_field_tag :password, params[:password], class: 'form-control'  %>
  <br />
  <%= submit_tag "Log in",class: 'btn btn-default btn-primary' %>
<% end %>